<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eduhub.company">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.AddStudent"></activity>
        <activity android:name=".activities.Comments" />
        <activity
            android:name=".activities.ReportIssue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChatRoom"
            android:label="@string/title_activity_chat_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SyllabusT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TimeTableT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProjectsT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MarksT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AssignmentT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AttendanceT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MainActivityT" />
        <activity android:name=".activities.MainActivityParent" />
        <activity
            android:name=".activities.InfoTab.Syllabus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InfoTab.TimeTable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InfoTab.Marks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.Dashboard" />
        <activity
            android:name=".activities.InfoTab.Projects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InfoTab.Assignment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InfoTab.Attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FirstActivity" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>